<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">
              Manage Recipes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients to shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Description</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Ingredients</h2>
    </div>
</div>