.shadow {
  margin: 5px;
  border: 2px solid #ffe6e6;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
}


img.img-responsive {
  margin-top: 80px;
}

@media only screen and (max-width: 1920px) {
      img.img-responsive.shadow {
       margin-left: 0px;
  }
}


@media only screen and (max-width: 450px) {
  h1 {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 20px;
   text-align: center;
   margin-right: 25px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
   margin-right: 25px;
  }
  img.img-responsive {
      margin-left: 0px;
      margin-top: 0px;
  }

  li.list-group-item.shadow {
    margin-left: 0px;
  }
  button.btn.btn-primary.dropdown-toggle {
    left : 30px;
  }

  #dropdown {
    right: 10px;
  }

}
@media only screen and (max-width: 380px) {
    button.btn.btn-primary.dropdown-toggle {
    left : 20px;
  }

}

@media only screen and (max-width: 350px) {
  h1 {
   font-size: 25px;
   font-weight: bold;
   margin-bottom: 20px;
   text-align: center;
   margin-right: 25px;
  }

  h2 {
    font-size: 20px;
    text-align: center;
   margin-right: 25px;
  }
  img.img-responsive {
      margin-left: 0px;
  }

  li.list-group-item.shadow {
    margin-left: 0px;
  }
 button.btn.btn-primary.dropdown-toggle{
    left : 0px;
  }

    #dropdown {
    right: 10px;
  }

}



