.margin {
  margin-bottom: 8px;
}

#list {
  margin: 5px;
  border: 2px solid #ffe6e6;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
}

@media only screen and (max-width: 1370px) {

   .media-left, .media-middle {
    display: block;
  }
    img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
    margin-left: 6px;
  }

  .media-body {
    text-align: center;
  }
}

@media only screen and (max-width: 3000px) {

   .media-left, .media-middle {
    display: block;
  }
    img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
    margin-left: 6px;
  }

  .media-body {
    text-align: center;
  }
}

@media only screen and (max-width: 740px) {
  .media-left, .media-middle {
    display: block;
  }

  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .media-left, .media-middle {
    display: block;
  }
  .media-heading {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
  }
  .media-body h4 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
  }
  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .media-left, .media-middle {
    display: block;
  }
  img.media-object {
    max-width: 100%;
    padding-bottom: 10px;
  }
  .media-heading  {
    font-size: 9px;
    text-align: center;
    font-weight: bolder;
  }
  .media-body h4{
    font-size: 9px;
    text-align: center;
  }
}
