.margin {
  margin-bottom: 8px;
}

#list {
  margin: 5px;
  border: 2px solid #ffe6e6;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
}
