<div class="row">
  <div class="col-sm-12">
    <form (ngSubmit)="addIngredients(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-sm-2 ">
          <label for="number">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel required pattern="^[1-9][0-9]*$">
        </div>
      </div>
      <div class="row">
        <div id="buttons" class="col-md-12">
          <button [disabled]="!f.valid" type="button" class="btn btn-success" type="submit">{{editMode ? "Update" : "Add"}}</button>
          <button *ngIf="editMode" type="button" class="btn  btn-danger" type="button" (click)="onDelete()">Delete </button>
          <button type="button" class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
